
%table.table.table-bordered.table-hover
  %tr
    %th Фамилия
    %th Имя
    %th Отчество
    %th Тема
    %th Действие
  -if current_user.chief?
    -current_user.chief.aspirant.each do |x|
      %tr
        %td=x.fname
        %td=x.sname
        %td=x.mname
        %td=x.theme
        %td= link_to "Просмотр", aspirant_path(x), :class => 'btn btn-info'
  -elsif current_user.chief?
    -@aspirants.each do |aspirant|
      %tr
        %td=aspirant.fname
        %td=aspirant.sname
        %td=aspirant.mname
        %td=aspirant.theme
        %td.btn= link_to "Просмотр", :class => 'btn btn-mini btn-info'