.well.sidebar-nav
  %ul.nav.nav-list
    %li= link_to "Новый аспирант", new_aspirant_path
    %li=link_to 'Список аспирантов',aspirants_path
    %li=link_to 'Поиск аспирантов'
    %li=link_to 'Список руководителей',chiefs_path
    %li=link_to 'Поиск руководителей'
    %li= link_to 'Новый научный руководитель', new_chief_path


